<header>
  <h1>Ajouter un utilisateur</h1>
</header>

<div class="row">
  <div class="col-md-12">
    <form action="https://locataire-dev.dossierfacile.fr/source/df-demo">
      <label for="email">Email</label><br>
      <input id="email" name="email" type="text"></input><br>
      <label for="lastname">Nom</label><br>
      <input name="lastName" type="text"></input><br>
      <label for="firstname">Prénom</label><br>
      <input name="firstName" type="text"></input><br>
      <label for="internalPartnerId">Id partenaire</label><br>
      <input name="internalPartnerId" type="text"></input><br>
      <br>
      <button type="submit">Envoyer</button>
    </form>
  </div>
</div>
